body {
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#ffeef0;
}

/* envelope */
#envelope-container {
  text-align: center;
  cursor: pointer;
  margin-top: -40px; /* moves everything up */
}

/* letter */
#letter-container{
  display:none;
  position:fixed;
  inset:0;
  justify-content:center;
  align-items:center;
}

.letter-window{
  background:white;
  padding:40px;
  border-radius:20px;
  text-align:center;
}

/* bouquet bounce */
.bounce{
  width:250px;
  animation:bounce 1s infinite;
}

@keyframes bounce{
  0%,100%{transform:translateY(0)}
  50%{transform:translateY(-20px)}
}

/* buttons */
.buttons{
  margin-top:20px;
}

.btn{
  width:120px;
  cursor:pointer;
  margin:10px;
}

/* strong NO shake */
.no-btn:hover{
  animation:shake .3s infinite;
}

@keyframes shake{
  0%{transform:translateX(0)}
  25%{transform:translateX(-10px)}
  50%{transform:translateX(10px)}
  75%{transform:translateX(-10px)}
  100%{transform:translateX(0)}
}

/* video full screen */
.love-video{
  position:fixed;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover;
  display:none;
  z-index:999;
}
