body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("heart-bg.jpg");
  background-size: cover;
  font-family: "Pixelify Sans", sans-serif;
}

/* Envelope */
#envelope-container {
  text-align: center;
  cursor: pointer;
}

#envelope {
  width: 200px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* Letter container */
#letter-container {
  display: none;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
}

.letter-window {
  width: 90vw;
  max-width: 800px;
  aspect-ratio: 3 / 2;
  padding-top: 180px;
  text-align: center;
  background-image: url("window.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  transform: scale(1.2);
  opacity: 0;
  transition: all 0.6s ease;
}

.letter-window.open {
  transform: scale(1);
  opacity: 1;
}

h1 {
  font-size: 30px;
  margin: 0;
}

p {
  font-size: 32px;
}

/* Cat */
.cat {
  width: 250px;
  transition: width 0.4s ease;
}

.letter-window.final .cat {
  width: 180px;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  position: relative;
}

.btn {
  width: 120px;
  cursor: pointer;
}

.no-btn {
  cursor: default;
}

/* Final text */
.final-text {
  font-size: 22px;
  padding: 10px 20px;
  background: rgba(255,240,240,0.5);
  border-radius: 12px;
}
