body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f6eaea;
font-family:sans-serif;
}

/* envelope */
#envelope-container{
text-align:center;
cursor:pointer;
margin-top:-40px;
}

#envelope{width:200px}

/* letter */
#letter-container{
display:none;
position:fixed;
inset:0;
justify-content:center;
align-items:center;
}

/* window */
.letter-window{
width:300px;
padding:20px;
background:white;
border-radius:20px;
text-align:center;
}

/* bouquet bounce */
.bouquet{
width:200px;
animation:bounce 1.5s infinite;
}

@keyframes bounce{
0%,100%{transform:translateY(0)}
50%{transform:translateY(-12px)}
}

/* question */
.question{
margin:10px 0;
}

/* buttons */
.buttons{
display:flex;
justify-content:center;
gap:20px;
}

.yes-btn,.no-btn{
width:100px;
cursor:pointer;
transition:transform 0.2s ease;
}

/* video */
.love-video{
width:250px;
display:none;
margin-top:10px;
border-radius:12px;
}

/* message */
.love-message{
display:none;
margin-top:10px;
}

/* confetti */
.confetti{
position:fixed;
width:10px;
height:10px;
background:red;
animation:fall 3s linear forwards;
}

@keyframes fall{
to{
transform:translateY(100vh);
opacity:0;
}
}
